.video-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}
.video-group video {
    width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.container {
    max-width: 1200px; /* 데스크탑에서 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 0 20px;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%; /* 모바일에서는 전체 너비로 설정 */
        padding: 0 10px;
    }
}
.latex-container {
    overflow-x: auto;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .latex-container {
        font-size: 0.9em; /* 모바일에서 글자 크기 조정 */
    }
}
